.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Color del fondo del contenedor */
}

.carousel-container {
  width: 80%;
  padding: 15px;
  border: 2px solid rgb(216, 57, 57);
  /* Borde blanco */
  border-radius: 10px;
  /* Bordes redondeados */
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3);
  /* Sombra blanca para hacer que el carrusel flote */
  margin-top: 122px;
  /* Espacio en la parte superior */
  background-color: transparent;
  /* Fondo transparente */
}

/* Estilos para el carrusel */
.carousel.slide {
  width: 100%;
}

.carousel-inner {
  border-radius: 10px;
  /* Bordes redondeados para los items del carrusel */
}

.carousel-item img {
  border-radius: 10px;
  /* Bordes redondeados para las imágenes del carrusel */
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(60%);
  /* Color de los iconos de los botones de control */
}

/* Estilos para los caption (opcional) */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  /* Color de fondo de los captions */
  border-radius: 5px;
  /* Bordes redondeados para los captions */
}

/* Media query para ajustar el tamaño del carrusel en dispositivos más pequeños */
@media (max-width: 768px) {
  .carousel-container {
    width: 90%;
  }
}