<div class="container">
  <div class="carousel-container">
    <div id="carouselExampleCaptions" class="carousel slide mt-5" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="../../../assets/1.jpg" class="d-block w-100" alt="Img_1" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/2.jpg" class="d-block w-100" alt="Img_2" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/3.jpg" class="d-block w-100" alt="Img_3" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/4.jpg" class="d-block w-100" alt="Img_4" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/5.jpg" class="d-block w-100" alt="Img_2" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/6.jpg" class="d-block w-100" alt="Img_3" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/7.jpg" class="d-block w-100" alt="Img_4" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/8.jpg" class="d-block w-100" alt="Img_2" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/9.jpg" class="d-block w-100" alt="Img_3" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/10.jpg" class="d-block w-100" alt="Img_4" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/11.jpg" class="d-block w-100" alt="Img_2" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/12.jpg" class="d-block w-100" alt="Img_3" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/13.jpg" class="d-block w-100" alt="Img_3" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/14.jpg" class="d-block w-100" alt="Img_4" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/15.jpg" class="d-block w-100" alt="Img_2" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/16.jpg" class="d-block w-100" alt="Img_3" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/17.jpg" class="d-block w-100" alt="Img_4" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/18.jpg" class="d-block w-100" alt="Img_2" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/19.jpg" class="d-block w-100" alt="Img_3" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/20.jpg" class="d-block w-100" alt="Img_4" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/21.jpg" class="d-block w-100" alt="Img_2" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../../../assets/22.jpg" class="d-block w-100" alt="Img_3" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>